@font-face{
    font-family: Zig;
    src: url("zig/zig_____.ttf");
}

.body{
    background-image: url('images/background3.jpg'); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    margin: 0;
    margin-top: 20px;
    font-family: Zig;
}

h1{
    background-color: red;
    font-size: 60px;
    margin: auto;
    border: 0;
    padding-top: 9px;
    color: white;
    text-align: center;
}

h2{
    font-size: 30px;
}

.allCharacters{
    margin-top: 20px;
    margin-left: 25px;
    display: flex;
    width: 95vw;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.allCharacters img{
    width: 20vw;
    height: 42vh;

}

.choices{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    align-items: center;
}

.choice-container {
    display: none;
}

ul{
    display: flex;
    list-style-type: none;
    flex-direction: column;
}

li{
    align-items: center;
    background-color: yellow;
    margin: 10px;
    width: 20vw;
    font-size: 25px; 
    padding-left: 20px;
    border-radius: 5px;
}

li:hover{
    background-color: aqua;
}

.score-container{
    display: none;
}

.score{
    padding-left: 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.player-score,
.computer-score{
    background-color: yellow;
    padding: 10px;
    border-radius: 5px;
}

#restartbtn{
    display: none;
}

.restart-button{
    background-color: yellow;
    font-family: Zig;
    font-size: 25px;
    margin-left: 40vw;
    margin-top: 5vw;
    padding: 10px;
    border-radius: 5px;
}

.win-container{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
}

.win{
    margin-left: 29vw;
    font-size: 50px;
    height: 5vh;
    width: 100vw;
}

#audio{
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    width: 15vw;
}